 @charset "utf-8";
/* CSS Document */


.total_icon,.leiji_icon,.dais_icon,.szc_icon{width:50px; height:50px;}
.total_icon{background-position:-110px -69px;}
.leiji_icon{background-position:-165px -69px;}
.dais_icon{background-position:0 -69px;}
.szc_icon{background-position:-165px -69px;}

.mphone_icon,.muser_icon,.mcard_icon,.memail_icon{width:35px; height:30px;}
.mphone_icon{ background-position:0 -34px;}
.muser_icon{ background-position:-40px -34px;}
.mcard_icon{ background-position:-80px -34px;}
.memail_icon{ background-position:-120px -34px;}
.sus_way .mphone_icon{background-position:0 0;}
.sus_way .muser_icon{background-position:-40px 0;}
.sus_way .mcard_icon{background-position:-80px 0;}
.sus_way .memail_icon{background-position:-120px 0;}

.round_bg{width:34px; height:34px; background-position:-262px -85px;}


.reload_icon,.cash_icon,.safe_icon,.bribes_icon,.record_icon{width:45px; height:52px;}
.reload_icon{background-position:0 -124px;}
.cash_icon{background-position:-50px -124px;}
.safe_icon{background-position:-100px -124px;}
.bribes_icon{background-position:-150px -124px;}
.record_icon{background-position:-200px -124px;}

.reward_icon{width:47px; height:52px;background-position:-249px -124px;}
.date_bg{width:81px; height:79px; background-position:-302px 0;}

.user_icon03,.capital_icon,.on_icon .capital_icon,.invest_icon,.on_icon .invest_icon,.book_icon,.on_icon .book_icon{width:23px; height:22px; margin-left:2px; }
.user_icon03{background-position:-160px 0;}
.capital_icon{ background-position:-217px 0;}
.invest_icon{background-position:-189px 0;}
.book_icon{background-position:-273px 0;}


a:hover .user_icon03{background-position:-160px -27px;}
.on_icon .capital_icon,a:hover .capital_icon{ background-position:-217px -27px;} 
.on_icon .invest_icon,a:hover .invest_icon{background-position:-189px -27px;}
.on_icon .book_icon,a:hover .book_icon{background-position:-273px -27px;}

.activ_icon{width:25px; height:22px; background-position:-244px 0;}
a:hover .activ_icon,.on_icon .activ_icon{background-position:-244px -27px;}



.check_icon{width:20px; height:20px; background-position:-219px -99px;}
.up_icon,.down_icon{width:8px; height:11px;}
.up_icon{background-position:-159px -53px;}
.down_icon{background-position:-172px -53px;}


.date_icon{width:16px; height:16px; background-position:-250px -69px;}

/*table_tab*/
	.table_tab{ border-bottom:1px solid #e36466;}
		.table_tab dt,.table_tab dd{height:34px; line-height:34px;  margin-right:11px;color:#777;}
		.table_tab dd{ width:101px; cursor:pointer; }
			.table_tab dd a{ display:block; height:100%; width:100%; line-height:34px; text-align:center; color:#777; background:url(../images/tab_bg.jpg) left top no-repeat;}
			.table_tab dd.on_t a,.table_tab dd a:hover{color:#fff; text-decoration:none; background-position:0 -36px; }
			
			
	/*table_select*/	
	.table_select{ color:#777;}	
		.table_select dt{margin-right:15px;}
			.table_select .focus_div{ height:24px; line-height:24px; width:100px;}
				.table_select input{ margin-top:1.5px; width:80px;}
				.table_select .date_icon{ margin-top:4px;}
			.table_select span{ display:block; height:36px; line-height:36px;}
			.table_select .dropdown{height:30px;width:108px; margin-top:3px;}
				.table_select .dropdown h4{height:30px; line-height:30px;background:url(../images/sbg45.jpg) -2px -91px no-repeat; margin:0; width:60px; }
				.table_select .dropdown h4.over{ background-position:-121px -91px ;}
				.table_select .dropdown ul{width:100px; left:3px;}
					.table_select .dropdown li{ height:26px; line-height:26px;}
		.table_select dd{ height:36px; margin-right:4px; _width:70px; text-align:center;}
		.table_select dd.all{_width:45px;}
			.table_select dd a{ display:block; height:26px; line-height:26px; margin-top:5px; padding:0 6px; text-align:center; color:#777;}
			.table_select dd a:hover,.table_status a:hover{ text-decoration:none; background-color:#fee9e9; color:#df4245;}
		
			.table_status dd.on_dd a{ color:#fff;background-color:#e36466;
			}
			.table_select dd.on_dd a{border:1px solid #fcae52; color:#ee8e1c;}
	
	/*table_status*/	
	.table_status{width:100%;}
		.table_status dd{ margin-right:15px;}
		.table_status dt,.table_status a{display:inline-block; height:26px; line-height:26px; color:#777; }
			.table_status a{padding:0 3px;}
/*账户中心_安全中心*/
.safe_c{ display:inline-block; vertical-align:top; *display:inline; *width:400px; margin-top:-3px;}
	.safe_c ul{_margin-top:10px;}
.table_01 td{ height:76px; border-bottom:1px solid #ddd;border-top:1px solid #ddd;}
	.table_01 span{ padding:0 27px;} 

.right_title  .safe_c span{ left:auto; top:auto; position:relative;}

/*账户中心_安全中心_绑定电子邮箱成功,失败*/
.email_fail,.email_sus{width:100%; left:0; top:50%; }
.email_sus{height:112px;margin-top:-56px; }
.email_fail{height:126px;margin-top:-63px;}

/*账户中心_安全中心_发送邮件*/
.b_bot{border-bottom:1px solid #ddd;}
.round5{ background:url(../images/round_5.gif) left center no-repeat; padding-left:12px;}

/*账户中心_安全中心_修改手机号码_通过人工*/
.id_img{ border:1px solid #e1e1e1; width:125px; height:79px; padding:2px 3px; _position:absolute; _top:-2px; left:410px; margin-top:-24px; overflow:hidden;}
	.id_img img{width:100%; height:100%;}
	.pl290{ padding-left:290px;}
	
/*账户中心_个人中心_提醒设置*/
.table_02 th{ background-color:#f9f9f9; height:35px; font-size:14px; text-align:center;}
.table_02 td{ height:50px; border-bottom:1px solid #ddd; text-align:center;}
	.table_02 span{ padding:0 55px;}
	.table_02 td.pl40 span,.table_02 th.pl40 span{ padding:0 0 0 40px;}
	
/*账户中心_个人中心_添加银行卡*/
	.step_text .input_div.bank_m .focus_bg input{width:160px;}
.input_captcha{width:83px;}
	.step_text .input_captcha input{width:100%;}
/*账户中心_个人中心_银行卡信息*/
.bank_card dt,.bank_card dd{ margin-bottom:10px;background:url(../images/bg264x118.jpg)  no-repeat;}
.bank_card dt{width:266px; height:121px; background-position:  left top; }
	.bank_card dt a{ display:block;width:100%; height:100%;}
.bank_card dd{ padding:17px 20px 0 20px; width:226px; height:104px;background-position:  left bottom ;}
	.bank_card dd p{height:38px; line-height:38px;}
	.bank_card a:hover{ text-decoration:none;}

.tips_word h2{ height:38px; line-height:38px;}
.tips_word p{line-height:34px;}

/*账户中心_个人中心_站内消息*/
.btn_div{ border-bottom:1px solid #ddd;} 

/*账户中心_资金管理_充值*/
.more_up{ display:none;}
	.recharge div,.recharge dd,.recharge a{width:145px; height:45px; line-height:45px; border:1px solid #ddd;  margin-right:20px;overflow:hidden;}
	.recharge dd,.recharge div{ cursor:pointer;}
	.recharge dd.notice_input{width:auto; border:none;}
		.recharge div img,.recharge a img{ width:100%; height:100%;}
	.recharge a:hover{ text-decoration:none; border:1px solid #d70c18;}
		.recharge .check_icon{display:none;}
	.recharge div.on_check,.recharge dd.on_check,.recharge a.on_check{ border:1px solid #d70c18;}
		.recharge div.on_check .check_icon,.recharge a:hover .check_icon,.recharge dd.on_check .check_icon,.recharge a.on_check .check_icon{display:block; right:0; _right:-1px; top:0;}
	.recharge div.on_check .bank_logo{ margin-top:8px;*margin-top:0; _margin-top:8px;}
		.recharge_up span{ display:inline-block; height:20px; line-height:20px; border-left:1px solid #ddd; margin-left:10px; padding-left:10px;overflow:hidden;}
		.recharge .bank_logo{ margin-top:8px;*margin-top:0; _margin-top:8px;}
		
/*账户中心_资金管理_充值成功*/
.next_doing{ border-top:1px solid #ddd; padding-top:30px;}

/*账户中心_资金管理_充值失败*/
.prom p{ line-height:28px;}

/*invest_detail-理财管理*/
.invest_detail{ padding:28px 0;}	
	.invest_detail li{ height:51px; overflow:hidden;}	
	.invt_div{border-right:1px solid #ddd; padding:0 20px;}
	.nobo .invt_div{ border:none;}
		.invt_div p{ vertical-align:middle; *display:inline;}
		.invt_div i.account_icon{ margin-top:0;}

/*账户中心_理财管理_债权转让_转让规则*/
.claim_word p,.claim_word h3{ line-height:28px;}


/*账户中心_理财管理_债权转让_可转让_弹出确认协议*/
.areah{ border:1px solid #ddd;}
	.areah iframe{width:100%; height:150px; line-height:25px; border:0; background:none;}

/*账户中心_活动管理_我的红包_未使用*/
.envelope li,.e_money{ background-image:url(../images/jagged_bg.jpg); background-repeat:repeat-y;}
.envelope li{ height:110px;   background-position: top right;  background-color:#fff1ea;  margin-bottom:20px; padding-right:10px;}
		.en_title{color:#404040;}
			.envelope input{ color:#fff8d2; margin-top:-2px;}
	.e_money{ font-size:55px; color:#dd1e4a; margin-top:10px;  background-position: top left ;width:80px; text-align:center; padding-left:5px; font-family:"Arial","Microsoft YaHei","微软雅黑","宋体","Times New Roman",Times,serif;}
	
/*账户中心_活动管理_推荐好友*/		
table span.friend_name{ width:105px; display:inline-block; overflow:hidden; padding:0 0 0 30px;}
table span.pl60{ padding:0 0 0 70px;}
.w120{ width:120px;}

.friend{ padding:0 25px 16px 28px;border: 1px solid #ddd;}
.friend .f_title{ font-size:14px; line-height:14px; font-weight:normal; padding:20px 0 15px 0;} 
.friend .bd{ border-bottom:1px dotted #d4d4d4;}	
.f_total{ margin-right:-300px; margin-top:13px; }
.f_total li{ width:320px; float:left; }
.f_total span{ font-size:18px;}
.f_total p{ margin-bottom:5px;}


.way1{ width:565px; }
.way2 { width:240px; }
.way1 .bshare-custom.icon-medium-plus a, .ficon{ background:url(../images/imgs/rec_way.jpg)   no-repeat;height:50px;}
.waylist .ficon{ width:70px;  height:50px; display:inline-block;}


.way1 .bshare-custom.icon-medium-plus .bshare-sinaminiblog,.waylist .fi2{ background-position:-105px 0;}
.way1 .bshare-custom.icon-medium-plus .bshare-tianya,.waylist .fi3{ background-position:-202px 0;}
/*.way1 .bshare-custom.icon-medium-plus .bshare-qqmb,.waylist .fi3{ background-position:-202px 0;}*/
.way1 .bshare-custom.icon-medium-plus .bshare-qzone,.waylist .fi4{ background-position:-305px 0;}
.waylist .fi5{ background-position:-410px 0;}



.way1 .bshare-custom.icon-medium-plus a,.waylist li{ width:53px; float:left; margin-right:50px; font-size:12px; _display:inline; overflow:hidden;	padding-left:0; }
.waylist li p{text-align:center; }
.waylist li.last{ width:80px; }
.way1 .bshare-custom.icon-medium-plus a.bshare-more.more-style-addthis{background:url(../images/imgs/rec_way.jpg) -410px 0; width:60px; }

.waydetail{ height:55px; border-left:1px solid #ddd; line-height:45px; padding-top:14px;}

.waydetail .ficon{ margin-left:62px; width:55px;  height:50px; display:inline-block; float:left;}
.waydetail .fi6{ background-position:0 -50px;}
.way2 .tpd{ padding-left:53px;}
.fblue2{ color:#5eace8;}
 .layer_btn{ cursor:pointer;}
.reward{ height:200px; margin-right:-50px; padding-left:12px;background:url(../images/imgs/reward.jpg) 12px 0   no-repeat;}
.reward li{ width:281px; float:left; line-height:32px;}
.reward li p{ margin:110px 0 0 16px; width:180px; text-align:center; font-size:16px; }	
.reward li#mr{ margin-right:18px; line-height:16px;}


/*账户中心_理财管理_自动投标_开启或修改*/
.auto_input_o{ background: url(../images/imgs/img10.jpg) 90% 100% no-repeat;}
.auto_input_c{ background: url(../images/imgs/img11.jpg) 90% 100% no-repeat;}
.amount_bid dt{ _height:34px;}
	.auto_status span{ display:inline-block; vertical-align:middle; cursor:pointer;}
		.auto_status span.line,.auto_status span.on_status{ cursor:none;}
	.on_status{height:31px; line-height:31px; width:63px; border:1px solid #f8e3d7; background-color:#fbfbf0; _vertical-align:middle; }

	.auto_tab .table_tab dd{ width:130px;  }
			.auto_tab .table_tab dd a{ background:url(../images/tab_bg.jpg) -105px 0 no-repeat;}
			.auto_tab .table_tab dd.on_t a,.auto_tab .table_tab dd a:hover{ background-position: -105px -36px; }
	.amount_bid .focus_div{width: 83px;}
	.amount_bid .focus_div input{width: 100%;}
	.amount_bid .bond_accord{width:370px; }
	.word_auto{ line-height:26px;}
		.word_auto p{ text-indent:2em;}
		
/*账户中心_理财管理_自动投标_已关闭*/		
	.opened_btn{ background:none; border:0; vertical-align: middle;}
.set_detail{ display:inline-block; border:1px solid #ddd; background:#f9f9f9; min-width:285px;_width:285px; padding:10px 0;}
	.set_detail li{ height:40px; line-height:40px;}
		.set_detail span{ display:inline-block; width:140px; text-align:right;}	

/*账户中心_首页*/
.cunt_detail{ border:1px solid #ddd; height:180px; overflow:hidden; background-color:#fff;}
	.user_info{width:385px; padding:25px 25px 20px 25px;}
		.user_info .imgdiv{display:block; width:120px;_width:100px;  height:125px; _height:105px;  border:1px solid #ddd; overflow:hidden;}
			#imghover span{ display:none; width:100%;  background:none; height:30px; _height:40px;  _width:125px;  line-height:30px; _line-height:40px; text-align:center; left:0; bottom:0; _bottom:-15px; cursor:pointer; }
				#imghover span input{ cursor:pointer;}
			#imghover .id_img{ position:absolute;width:100%; height:100%; _height:40px; left:0; top:0; text-align:center; margin:0; padding:0; border:none; _width:120px; _height:125px; _overflow:hidden;}
				#imghover .id_img img{ min-height:100%; min-width:100%; max-width:none; height:auto; width:auto; border:none; _width:120px; _height:125px;}
			a#imghover:hover span{display:block; text-decoration:none; cursor:pointer;}
		.word_user{width:240px; _width:235px;}
				.safe_grate{ display:inline-block; vertical-align:middle;width:132px; height:8px; white-space:nowrap; border:1px solid #ddd; margin-top:12px;_margin-top:6px;}
				.user_info .safe_grate{margin-top:5px;}
					.safe_grate li{ height:8px; border-right:1px solid #ddd; overflow:hidden;}
					.safe_grate li.red_li{ background-color:#d9422e;}
					 ul.green_li{ background-color:#8cbf13;}
					.safe_grate li.yell_li{ background-color:#feba4e;}
					
					.attes_way li{width:35px; height:30px; text-align:center; background-color:#f6f6f6; margin-right:5px; 
					}
					.attes_way a{ display:block;  text-align:center;}	
	.assets_info{width:500px; border-left:1px solid #ddd; height:100%;}
		.assets_info ul{ padding-left:30px;  height:90px;}
		.round_bg{ text-align:center; line-height:34px; _margin-top:1px;}
		.assets_info  .i_icon{ vertical-align:top; margin-top:7px;}
	.assets_info p.f18{ margin-left:37px;}
	
	
.detail_cla{border:1px solid #ddd; height:110px;  background-color:#fff;}
  .detail_cla dd,.detail_cla dt,.detail_cla a{height:100%;}	
  .detail_cla dd{width:16.6%;}
  .detail_cla dt{width:17%;}
  	.detail_cla a{ display:block; color:#777; text-align:center;   text-align:center;}
	.detail_cla dd a{border-right:1px solid #ddd;}
	.detail_cla a:hover{ background-color:#faeeee; color:#d9422e; text-decoration:none;}
	.detail_cla p{ text-align:center; margin-top:6px;}
		.detail_cla i{ margin-top:20px;}
		
		
		.my_invest{width:180px;  padding:30px 50px 0 ;}
			.my_creditor dt{ padding-bottom:25px;}
			.my_creditor dd{ padding-bottom:20px;}
		.my_settled{padding:30px 0 0 50px; width:250px; border-left:1px solid #ddd;} 
		
		.receipt_date{padding:30px 0 0 40px; width:300px;}
		.receipt_date .date_bg{ line-height:100px; margin-top:30px; overflow:hidden;}
/*日历*/
.backlist_nav{ width:205px; position:relative; height:25px; z-index:2; float:right; }
.backlist_nav ul{ position:absolute; left:0; bottom:-25px;}
.backlist_nav li { width:90px; height:27px; line-height:27px; float:left;text-align:center; cursor:pointer;border:1px solid #dddddd; margin-left:10px; _display:inline;}
.backlist_nav li.selected{ color:#e36466; border:1px solid #e36466; }
.backlist_nav li a{ color: #777;}
.backlist_nav li.selected a{color:#e36466; }
.backlist_nav b.icon01{ width:10px; height:10px;  float:left; margin:8px 0 7px 10px;  }
.backlist_nav b.lb{ background-position: -230px -54px;}
.backlist_nav b.rl{ background-position: -202px -54px;}
.backlist_nav li.selected   b.lb{ background-position: -217px -54px;}
.backlist_nav li.selected   b.rl{ background-position: -189px -54px;}



.weekend{ width:14px; height:14px; position:absolute; left:2px; top:2px; }

.dataarea{ position:absolute; background-color:#fff; color:#555; display:none;}
.dataarea li{ width:350px; border:1px solid #e36466; }
.datacontent{ margin:10px 17px;}
.datacontent table{ border-bottom:1px solid #ddd; width:100%;}
.dataw1{ width:110px; height:30px; line-height:30px;}
.dataw3{ width:90px;}
.dataw2{ width:80px; }
.datacontent .red,.weekend{ color:#e36466;}
.datatitle{ display:none;}
.datacontent .wc { padding-top:10px;}
.datacontent .arrow{ position:absolute; top:-8px; left:168px; width:12px; height:9px; display:inline-block; background:url(../images/arrowtop.png)  no-repeat;}

.datepick-days-cell{ width:117px;}
.datepick-days-cell  span{ display:inline-block; width:80px; color:#e36466; padding-top:5px;
}
.datepick-days-cell  span b{display:inline-block; width:17px; height:16px;background:url(../images/price.png) 0 0 no-repeat; margin-bottom:-3px;}
.weekand{ background:url(../images/weekend.png) 2px 0 no-repeat;}
.datepick-days-cell .dataarea a{ font-size:14px;}
.datepick-title-row th.datepick-week-end-cell{ color:#e36466;}
	/*上传图片*/
.label85 .mr20{ width:310px;}
/*.label85 .btn01{ background:none;}*/
.uploadbtn,.label85  .filter0{ width:104px; left:0; top:0;}
.label85 .h40{ height:42px;}

