/* CSS Document */
html,body,ul,ol,li,h1,h2,h3,h4,h5,h6,p,form,dl,dt,dd,input,textarea,button,select{font-family:"Microsoft YaHei","微软雅黑","Arial","宋体","Times New Roman",Times,serif;}body{-webkit-overflow-scrolling: touch;}*{word-wrap:break-word;word-break:break-all;margin:0;padding:0;text-align:justify;text-justify:inter-ideograph;}ul li,ol li{list-style:none;}img{border:none;}table{border-collapse:collapse;}/****float clear***/.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }.clearfix{ display: inline-block; }.clearfix{ display: block; zoom: 1; }html body div.clear,html body span.clear{background:none;border:0;clear:both;display:block;float:none;font-size:0;margin:0;padding:0;overflow:hidden;visibility:hidden;width:0;height:0;}.fl{float:left;}.fr{float:right;}/*no focus*/input,td,a,a:focus,.nlight,.nlight:hover,.nlight:focus{-webkit-tap-highlight-color:rgba(255,0,0,0);outline:none;-moz-outline-style:none;}a{text-decoration:none; cursor:pointer;}a:hover{ text-decoration:underline;}a.no_a:hover,.no_a a:hover{ text-decoration:none;}/**** text-align****/.wl{text-align:left;}.wr{text-align:right;}.wc{text-align:center;}/**** font****/.fb{font-weight:700;}.fn{font-weight:400;}.in_b{display:inline-block;}.block{display:block;}.mc{ margin:0 auto;}.none{display:none;}/****Reset结束****/
/****************公共部分****************/
/**** 超出省略****/.ws{overflow: hidden;word-wrap:normal; word-break:normal;white-space: nowrap; text-overflow: ellipsis;  }

/**** font sizer****/.f10{font-size:10px;}.f12{font-size:12px;}.f14{font-size:14px;}.f16{font-size:16px;}.f18{font-size:18px;}.f20{font-size:20px;}.f22{font-size:22px;}.f24{font-size:24px;}.f26{font-size:26px;}.f28{font-size:28px;}.f30{font-size:30px;}.f32{font-size:32px;}.f36{ font-size:36px;}.f50{font-size:50px;}

/**** font color****/
.fblack{color:#000;}
.fblackl{color:#333;}
a.fblackl:hover,a.fblack:hover,a.fgray:hover,a.fgrayd:hover{color:#da2623; text-decoration:none;}
.fgray{ color:#777;}
.fgrayd{color:#555;}
.fgrayl{color:#aaa;}
.fgrayll{color:#ddd;}
.fblue{color:#2890e0;}
.fbluel{color:#157ece;}
.fwhite{ color:#fff;}
.fred{color:#d9422e;}
.fredl{ color:#ff6f6f;}
.fred2{color:#c22121;}
.fred3{ color:#e36466;}
.fpurple{color:#845bac;}
.fpurplel{color:#8e68b4;}
.fpurpled{color:#502778;}
.fgreen{ color:#84cb1d;}
.fyell{ color:#c77f37;}
/**** font color END****/

/**** width****/
.w1160{width:1160px;}
.w1100{width:1100px;}
.w1060{width:1060px;}
.w1000{width:1000px;}
.w938{width:938px;}
.w900{width:900px;}
.w918{width:918px;}
.w810{width:810px;}
.w700{width:700px;}
.w625{width:625px;}
.w615{width:615px;}
.w475{width:475px;}
.w375{width:375px;}
.w330{width:330px;}
.w280{width:280px;}
.w231{width:231px;}
.w216{width:216px;}
.w201{width:201px;}
.w198{width:198px;}
.w192{width:192px;}
.w185{width:185px;}
.w160{width:160px;}
.w158{width:158px;}
.w140{width:140px;}
.w138{width:138px;}
.w125{width:125px;}
.w111{width:111px;}
.w60{width:60px;}
.w40{width:40px;}
.wb100{width:100%;}
.wb75{width:75%;}
.wb60{width:60%;}
.wb55{width:55%;}
.wb50{width:50%;}
.wb45{width:45%;}
.wb43{width:43%;}
.wb40{width:40%;}
.wb39{width:39%;}
.wb36{width:36%;}
.wb35{width:35%;}
.wb34{width:34%;}
.wb33{width:33%;}
.wb30{width:30%;}
.wb25{width:25%;}
.wb23{width:23%;}
.wb21{width:21%;}
.wb20{width:20%;}
.wb18{width:18%;}
.wb17{width:17%;}
.wb16{width:16%;}
.wb15{width:15%;}
.wb14{width:14%;}
.wb13{width:13%;}
.wb12{width:12%;}
.wb10{width:10%;}
.wb9{width:9%;}
.wb8{width:8%;}
/**** width END****/

/****filter****/.filter5{filter:alpha(opacity=50);-moz-opacity:0.5; opacity:0.5;}.filter0{filter:alpha(opacity=0);-moz-opacity:0; opacity:0;}/****filter END****/

/****布局定位 position****/.pa{ position: absolute;}.pf{ position: fixed; _position: absolute;}.pr{ position: relative;}.ps{ position: static;}.pi{ position: inherit;}/****布局定位 positionn END****/

/****布局 margin****/.mt0{margin-top:0;}.mt1{margin-top:1px;}.mt5{margin-top:5px;}.mt10{margin-top:10px;}.mt15{margin-top:15px;}.mt20{margin-top:20px;}.ml0{margin-left:0;}.ml1{margin-left:1px;}.ml5{margin-left:5px;}.ml10{margin-left:10px;}.ml15{margin-left:15px;}.ml20{margin-left:20px;}.mr0{margin-right:0;}.mr1{margin-right:1px;}.mr5{margin-right:5px;}.mr10{margin-right:10px;}.mr15{margin-right:15px;}.mr20{margin-right:20px;}.mb0{margin-bottom:0;}.mb1{margin-bottom:1px;}.mb5{margin-bottom:5px;}.mb10{margin-bottom:10px;}.mb15{margin-bottom:15px;}.mb20{margin-bottom:20px;}.m0{margin:0;}.md20{ margin-bottom:30px;}.md50{ margin-bottom:50px;}/****布局 margin END****/

/****内边距 padding****/.pt0{padding-top:0;}.pt1{padding-top:1px;}.pt5{padding-top:5px;}.pt10{padding-top:10px;}.pt15{padding-top:15px;}.pt20{padding-top:20px;}.pl0{padding-left:0;}.pl1{padding-left:1px;}.pl5{padding-left:5px;}.pl10{padding-left:10px;}.pl15{padding-left:15px;}.pl20{padding-left:20px;}.pr0{padding-right:0;}.pr1{padding-right:1px;}.pr5{padding-right:5px;}.pr10{padding-right:10px;}.pr15{padding-right:15px;}.pr20{padding-right:20px;}.pb0{padding-bottom:0;}.pb1{padding-bottom:1px;}.pb5{padding-bottom:5px;}.pb10{padding-bottom:10px;}.pb15{padding-bottom:15px;}.pb20{padding-bottom:20px;}.p0{padding:0;}.ime{ime-mode:disabled;}/****内边距 padding****/

/****icon****/
.icon,.bz_icon,.h_iicon,.account_icon,.sus_icon{ display:inline-block; background-repeat:no-repeat; vertical-align:middle;  margin-top:-2px; overflow:hidden; border:0; }
.icon{background-image:url(../images/icon.png);}
.account_icon{background-image:url(../images/account_icon.png);_background-image:url(../images/account_icon8.png);}
.h_iicon{ background-image:url(../images/help_index.png);}

.phone_icon,.sina_icon,.wechat_icon,.linecus_icon{width:27px; height:27px; transition:all 0.2s ease-out 0.2s;}
.phone_icon{ background-position:-96px -58px;}
.linecus_icon{background-position:-64px -58px;}
.sina_icon{background-position:0 -58px;}
.wechat_icon{background-position:-32px -58px;}
a.wechat_icon:hover{background-position:-32px -88px;}
a.sina_icon:hover{background-position:0 -88px;}
a:hover .linecus_icon{background-position:-64px -88px;}

.onef_icon,.twof_icon,.three_icon,.four_icon,.five_icon,.indexcus_icon,.top_icon{width:32px; height:32px;}
.onef_icon{background-position:0 -21px;}
.twof_icon{background-position:-36px -21px;}
.three_icon{background-position:-72px -21px;}
.four_icon{background-position:-109px -21px;}
.five_icon{background-position:-145px -21px;}
.indexcus_icon{background-position:-181px -21px;}
.top_icon{  background-position:-218px -21px;}


.user_icon{width:18px; height:18px; background-position:-181px -93px;  margin-right:2px;}
.pword_icon{width:17px; height:21px; background-position:-133px -91px; margin-right:2.5px;}
.phone_icon02{width:18px; height:26px; background-position:-233px -89px; margin-right:1px;}
.email_icon{width:25px; height:20px; background-position:-204px -91px;}
.id_icon{width:22px; height:19px; background-position:-155px -92px;}
.city_icon{width:15px; height:20px; background-position:-255px -92px;}
.i_icon{width:14px; height:14px; background-position:-106px 0; cursor:pointer;}



.sus_icon{width:45px; height:45px; background:url(../images/susmax.png) left top no-repeat;}
.warn_n .notice_icon,.warn_icon{width:15px; height:13px; background-position:-63px -1px; *margin-top:0;}
.error_n .notice_icon,.error_icon{width:16px; height:15px; background-position:-42px 0; *margin-top:0;}
.sus_n .notice_icon,.sus_icon03{width:16px; height:15px; background-position:-84px 0; *margin-top:0;}

.worth_icon,.interest_icon,.financial_icon,.mauto_icon,.cpi_icon{width:28px; height:25px;}
.interest_icon{ background-position:-161px -58px;}
/*.worth_icon{ background-position:-194px -58px;}
.financial_icon{ background-position:-227px -58px;}
.mauto_icon{background-position:-260px -58px;}*/
.cpi_icon{ background-position:-128px -58px;}



.fail_icon{width:36px; height:35px; background-position:-285px -80px;}

.helpr_icon,.helpl_icon{ display:inline-block; width:9px; height:12px; }
.helpl_icon{background: url(../images/help_icon.png) left top no-repeat;}
.helpr_icon{background: url(../images/helpr_icon.png) left top no-repeat;}

.red_icon{width:8px; height:8px; background-position:-211px 0;}
.rcode_cion,.onrcode_cion{width:16px; height:15px; cursor:pointer;}
.rcode_cion{background-position:-21px 0;}
.onrcode_cion{background-position:0 0;}

.b_icon,.y_icon{width:20px; height:20px;}
.b_icon{background-position:-222px 0;}
.y_icon{background-position:-248px 0;}

/****icon END****/

/****btn****/
.btn01{ display:inline-block; background-image:url(../images/btn01.jpg); background-repeat:no-repeat; vertical-align:middle; border:0; text-align:center; cursor:pointer; overflow:hidden; }
.btn01_1{ display:inline-block; background-image:url(../images/btn01_1.jpg); background-repeat:no-repeat; vertical-align:middle; border:0; text-align:center; height:36px; overflow:hidden; cursor:pointer; }
.btn_r201x36{ width:201px; height:36px;   background-position: left top;  font-size:16px;}
.btn_r222x36{ width:222px; height:36px;   background-position: 0 -246px;  font-size:16px;}
.btn_rg222x36{ width:222px; height:36px;   background-position: 0 -366px;  font-size:16px;}
.btn_r101x36{ width:101px; height:36px;  background-position:-205px 0;}
.btn_r273x36{ width:273px; height:36px;  background-position:0 -41px;  font-size:16px;}
.btn_rr101x36{ width:101px; height:36px;  _height:37px; background-position:0 -82px;   font-size:16px;}
.btn_rg101x36{ width:101px; height:36px; _height:37px;   background-position:-155px -123px;  font-size:16px;}
.btn_rgd101x36{ width:101px; height:36px;   background-position:-126px -287px;}
.btn_r81x36{ width:81px; height:36px;   background-position:-105px -82px;  }
.btn_r91x36{ width:91px; height:36px;   background-position:-191px -82px;  }
.btn_r151x36{ width:151px; height:36px;   background-position:0 -123px;  }
.btn_rg151x36{ width:151px; height:36px;   background-position:0 -326px;  }
.btn_r71x28{ width:71px; height:28px;   background-position:-277px -41px;  }
.btn_r120x36,.btn_rg120x36{ width:122px; height:36px;}
.btn_r120x36{ background-position:-226px -246px;}
.btn_rg120x36{background-position:0 -287px;  }
.btn_r111x36,.btn_rg111x36{ width:111px; height:36px;}
.btn_r111x36{ background-position:-237px -287px;}
.btn_rg111x36{background-position:-157px -326px;  }
.btn_r284x36{ width:284px; height:36px;   background-position:0 -164px;  }
.btn_rg284x36{ width:284px; height:36px;   background-position:0 -205px;  }
.btn_r66x26{ width:66px; height:26px;   background-position:-263px -123px;  }
.del_btn{width:15px; height:16px; background-position:-310px 0;}
/****btn END****/ 

/****background****/     
.bgray{background-color:#f9f9f9;} 
.bwhite{background-color:#fff;} 
/****background end****/
